  /**
   * Change-Log:
   * - 2022-05-18, Wang,  Do not show Show and Hide panel when the width is narrow
   */


.profile-image {
  max-width: 28px;
}
.profile-divider{
  margin: 7px 0;
}

.version {
  .ms-ContextualMenu-itemText {
    margin-left: 10px;
  }
}


@media (max-width:520px)  {
  .hide-show-panel {
    display: none;
  }

  .HeaderUser {
    width: 114px;
  }
}